.day{
  background: white;
  color: black;
}
.night{
  background: black;
  color: white;
}


.clockBKG{
  background-color:#03A9F4;
  padding: 30px;
  margin: 5px;
}

#addNew
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 1000px;
    top: 0px;
    background: rgba(0,0,0,.7);
    transition: 1s;
}

  #clockWrapper{
    width: 300px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    border-radius: 150px;
    
  }
  .nums
  {
    position: absolute;
    top: 300px;
    width: 290px;
    text-align: right;
  }
  #n1{
    transform: rotate(-60deg);
  }
  #n2{
    transform: rotate(-30deg);
  }
  #n3{
    transform: rotate(0deg);
  }
  #n4{
    transform: rotate(30deg);
  }
  #n5{
    transform: rotate(60deg);
  }
  #n6{
    transform: rotate(90deg);
  }
  #n7{
    transform: rotate(120deg);
  }
  #n8{
    transform: rotate(150deg);
  }
  #n9{
    transform: rotate(180deg);
  }
  #n10{
    transform: rotate(210deg);
  }
  #n11{
    transform: rotate(240deg);
  }
  #n12{
    transform: rotate(270deg);
  }
  .needle
  {
     margin-top: 150px;
     position: absolute;
     width: 300px;
     line-height: 0px;
  }
  .needle span
  {
      display: block;
      width: auto;
      margin-left: 140px;
     text-align: left;
  }
  #hour span{
    background-color: red;
    max-width: 100px;
    height: 2px;
  }
  #min span{
    background-color: blue;
    max-width: 120px;
    height: 2px;
  }
  #secs span{
    background-color: black;
    max-width: 135px;
    height: 1px;
  }